Pipelines/pipeline/LookUpActivity.json
{
	"name": "LookUpActivity",
	"properties": {
		"activities": [
			{
				"name": "get length of car",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "inputCSV",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@pipeline().parameters.FileName",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Set length of car",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get length of car",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "length of car",
					"value": {
						"value": "@activity('get length of car').output.firstRow.length",
						"type": "Expression"
					}
				}
			},
			{
				"name": "check length",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set length of car",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(\n    variables('length of car'),\n    '3000')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Make",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Make",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Model",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Model",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Type",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Type",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Origin",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Origin",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "DriveTrain",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "DriveTrain",
												"type": "String",
												"physicalType": "nvarchar"
											}
										},
										{
											"source": {
												"name": "Length",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Length",
												"type": "Decimal",
												"physicalType": "decimal",
												"scale": 0,
												"precision": 18
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "inputCSV",
									"type": "DatasetReference",
									"parameters": {
										"FileName": {
											"value": "@pipeline().parameters.FileName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "outputTable",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "cars"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"FileName": {
				"type": "String"
			}
		},
		"variables": {
			"length of car": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-11-10T16:17:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}